$white: #fff;
$primary-color: #3a3f58; 
$button-color: #ff0000; 
$button-reverse: #3de7b1;
$margin-layout: 90px;
$transition: 0.3s ease-in-out;
$footer-clr1: #021f59;
$footer-clr2: #012f9e;
$black: #2e2d2d;
$gray: #f3e5e5;
